<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.aman.piano2">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="in.aman.piano2.AudioRecorderApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="715207945895834"/>


        <activity
            android:name="in.aman.piano2.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name="in.aman.piano2.activities.DrumBeats"
            android:label="Lets Play Drum"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="in.aman.piano2.activities.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="in.aman.piano2.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.aman.piano2.activities.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="in.aman.piano2.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service android:name="in.aman.piano2.recordingservice.AudioRecordService" />

        <activity
            android:name="in.aman.piano2.activities.PlayListActivity"
            android:parentActivityName="in.aman.piano2.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.aman.piano2.activities.MainActivity" />
        </activity>
        <activity
            android:name="in.aman.piano2.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.ads.AudienceNetworkActivity" android:hardwareAccelerated="true"
            />
    </application>

</manifest>